@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Aydınlık mod */
.light {
  background-color: #ffffff;
  color: #000000;
}

/* Karanlık mod */
.dark {
  background-color: #000000;
  color: #ffffff;
}
